<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

	<description>Spring Task Configuration</description>

	<bean id="springContextHelper" class="com.lgb.common.utils.SpringContextHelper"></bean>

	<task:scheduler id="taskScheduler" pool-size="100" />

	<task:scheduled-tasks scheduler="taskScheduler">
		<!-- 京东爬虫 -->
		<!-- 爬虫:爬取京东指定分类下所有品牌的产品列表url 每周更新一次品牌  每周星期天凌晨1点实行一次：0 0 1 ? * 7 -->
		<task:scheduled ref="loadAllBrandProcessor" method="execute" cron="40 17 * * * ?" />
		<!-- 爬虫:爬取京东指定分类下的所有商品链接 -->
		<task:scheduled ref="goodsSourceProcessor" method="execute" cron="0 45 * * * ?" />
		
		
		<!-- 淘宝爬虫 -->
	</task:scheduled-tasks>
</beans>